.nav-menu {
    background-color: #560fbf;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 800ms;
    left: -100%;
}

.nav-menu.active {
    left: 0;
    transition: 200ms;
}